<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>

  <appSettings>
    
    <!-- EMAIL INBOX-->
    <add key="ExchangeServiceUrl" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
    <add key="Account" value="rpa@cnxmail.onmicrosoft.com"/>
    <add key="Password" value="Levitico#14"/>
   
	<add key="FOLDER" value="INBOX"/>
    <add key="FOLDER2" value="SURVEYS"/>

	  <add key="ErrorEmailToList" value="tomas.dale@concentrix.com;"/>
    <add key="SmtpServer" value="cvgmx1.convergys.com"/>
    <add key="EmailFrom" value="notification.robot@convergys.com"/>
    <add key="EmailTo" value="tomas.dale@concentrix.com"/>
    <add key="EmailToVerizon" value="maguada.veneracion@concentrix.com;Anna.Miller@concentrix.com;Steve.Lilly@concentrix.com;jaynino.sudario@concentrix.com;Andrea.Etheridge@concentrix.com;gerard.gouthro@concentrix.com;"/>
    <add key="EmailToMgrs2" value="GLO_CNX_SXM_Leaders;maguada.veneracion;Steve.Lilly;jaynino.sudario;felicidad.aguilar;Andrea.Etheridge"/>
    <add key="EmailToMgrs" value="jaynino.sudario;felicidad.aguilar;Andrea.Etheridge;Angelicamary.vidallo" />

    <add key="EmailToVerizon" value="GLO_CNX_SXM_Leaders@concentrix.com;maguada.veneracion@concentrix.com;Anna.Miller@concentrix.com;Steve.Lilly@concentrix.com;jaynino.sudario@concentrix.com;Andrea.Etheridge@concentrix.com;gerard.gouthro@concentrix.com;"/>
    <add key="EmailToMgrs" value="GLO_CNX_SXM_Leaders;maguada.veneracion;Steve.Lilly;jaynino.sudario;felicidad.aguilar;Andrea.Etheridge"/>


    <add key="AttTermination" value="REMOVE ATTUID ACCESS"/>
    <add key="AttTransfer" value="TRANSFER REPORT"/>
    <add key="EmplVerif" value="EMPLOYEE VERIFICATION"/>

    <add key="MacysBCOMSurvey" value="&amp;QUOT;BCOM IVR SURVEY&amp;QUOT;"/>
    <add key="MacysMCOMSurvey" value="&amp;QUOT;MCOM IVR SURVEY&amp;QUOT;"/>
    <add key="MacysBCOMSubject" value="HAS RECEIVED A BCOM CUSTOMER SURVEY!"/>
    <add key="MacysMCOMSubject" value="HAS RECEIVED AN MCOM CUSTOMER SURVEY!"/>
    <add key="MacysBCOMSurvey2" value="BCOM IVR SURVEY"/>
    <add key="MacysMCOMSurvey2" value="MCOM IVR SURVEY"/>
    
    <add key="MacysSubject" value="HAS RECEIVED A CUSTOMER SURVEY"/>
    <add key="MacysSurvey" value="Macys Survey"/>
    <!-- 0 no logs  1 develop   2 production for logs -->

    <add key="log4net.Internal.Debug" value="false"/>

    <add key="SiteUrl" value="https://concentrixsp/sites/clientidmgmt/ATT/"/>
    <add key="ListTitle" value="DeactivationQueue"/>

    


    <add key="SprintSubject" value="INTERVAL REPORT:"/>
    <add key="SprintDownloadedFolder" value="C:\Sprint\"/>
    <add key="SprintCompletedFolder" value="C:\Sprint\Completed\"/>
    <add key="SprintForPostingFolder" value="C:\Sprint\For Posting\"/>
    <add key="SprintErrorFolder" value="C:\Sprint\Error\"/>
    <add key="SprintDestFolder" value="\\makfpsp01\Dept\Information Technology\cmsreports\RPA\Sprint\"/>
    <add key="SprintCopyToShare" value="0"/>
    <add key="SprintSharedFolder" value="\\cdcawv262\Sprint\"/>
  
  </appSettings>


  <connectionStrings>
    <clear/>
    <add name="SqlConn" connectionString="Server=10.195.2.207;Database=ATT_UID;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="Sql28" connectionString="Data Source=ORLDWV028.na.convergys.com;Initial Catalog=RPA;User Id=RPAAdmin;Password=Rp@adm1n;Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source='{0}';Extended Properties=Excel 8.0"/>

    <add name="ATTUID" connectionString="Data Source=
                    (DESCRIPTION=
			             (
						    ADDRESS=(PROTOCOL=TCP)
                            (HOST=cdcdbnodeu-scan.concentrix.com)(PORT=1521)
					     )
                     (CONNECT_DATA=
                           (SERVER=dedicated)
                           (SERVICE_NAME=UDWP)
                           (FAILOVER_MODE =(TYPE = SELECT)(METHOD = BASIC)(RETRIES=2)(DELAY=10) ) 
				      )
		           );User Id=RPA_SERVICE;Password=Which_1?;" providerName="Oracle.ManagedDataAccess.Client"/>

	  <add name="ATTUID2" connectionString="Data Source=(DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = cdcdbnodeu-scan.concentrix.com)(PORT = 1521))
    (CONNECT_DATA =
      (SERVICE_NAME = UDWP)
      (FAILOVER_MODE = (TYPE = SELECT)(METHOD = BASIC)(RETRIES=2)(DELAY=10) )
    )
   );
   User Id=RPA_SERVICE;Password=Which_1?;" providerName="Oracle.ManagedDataAccess.Client"/>
 
	  <add name="ATTUID_OLD" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(Host=cdcdbnodeu-scan.concentrix.com)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=udwp)(UR=A)));User Id=RPA_SERVICE;Password=Which_1?;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="AppLogFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </root>
    <appender name="AppLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\NotificationRobotSvc"/>
      <datePattern value="'.'yyyyMMdd'.log'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5level %logger %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="NotificationRobot"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.11.4.0" newVersion="1.11.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="DADashboardLogSoap2">
          <security mode="Transport"/>
        </binding>
       
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://orliwv024.na.convergys.com/DADashboardWebService/DADashboardLog.asmx" binding="basicHttpBinding" bindingConfiguration="DADashboardLogSoap2" contract="ServiceReference2.DADashboardLogSoap" name="DADashboardLogSoap"/>
    </client>

  </system.serviceModel>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>

  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

</configuration>
