<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\LogClean"/>
      <datePattern value="'.'dd'.log'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5level %c %m%n"/>
      </layout>
    </appender>
  </log4net>
  
  <appSettings>

    <add key="SmtpServer" value="cvgmx1.convergys.com"/>
    <add key="EmailFrom" value="hr.autoresponse@concentrix.com"/>

    <add key="Keys" value="COVID19;EMPLOYMENT;VERIFICATION"/>
    
    <add key="Account" value="hr.autoresponse@concentrix.com"/>
    <add key="Password" value="Levitico#07"/>
    
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
