<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="SmtpServer" value="cvgmx1.convergys.com"/>
    <add key="EmailFrom" value="hr.autoresponse@concentrix.com"/>
    <add key="EmailTo" value="tomas.dale"/>
    <add key="users1" value="PHIL\kros7307,PHIL\mcru5817,CONCENTRIX\tomas.dale,PHIL\eret9084,PHIL\lnai1716,PHIL\chab5060,PHIL\socc2493,PHIL\alot5559"/>
    <add key="users2" value="Kemuel Rosaupan,Aivee Cruz,Tomas Dale,Eden Joy Reteo,Christine Naive,Chinry Habig,Sheryl Occasion,Aira Clark-Lotuaco"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source='{0}';Extended Properties=Excel 8.0"/>
    <add name="SqlEmpl2" connectionString="Data Source=USFLORLSQL3VAG1.concentrix.com;Initial Catalog=ConvergysAdmin;User Id=RPAAdmin;Password=Rp@adm1n;Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="SqlConnProd" connectionString="Data Source=USFLORLSQL3VAG1.CONCENTRIX.COM;Initial Catalog=RPAWeb;User Id=usr_RPAENC_appl;Password=M@sKm@N3)*&amp;^%$#;Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="SqlConn" connectionString="Data Source=USFLORLSQLD-AG1.CONCENTRIX.COM;Initial Catalog=RPA;User Id=RPAAdmin;Password=Rp@adm1n;Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>