body
{
    font-family: Arial;
}

h2
{
    font-family: Arial;
}

.label
{
    font-family: Arial;
    font-size: small;
}

.title
{
    font-family: Arial;
    font-size: small;
}

.Panel
{
    width: 100%;
}

/*
.SelectedRowStyle
{
    background-color: Gray;
    font-family: Arial;
    font-size: small;
}
*/

.ReadOnly
{
}

.TabArea
{
    background-color: White;
    font-size: x-small;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    position: absolute;
    top: 42px;
    height: 400px;
    z-index: -25;
}

.HeaderStyle
{
    font-size: small;
}

.RowStyle
{
    font-size: small;
}

.AlternatingRowStyle
{
    font-size: small;
}

.SelectedRowStyle
{
    font-size: small;
}

.EmptyDataRowStyle
{
    font-size: small;
}

.EditRowStyle
{
    font-size: small;
}

.FooterStyle
{
    font-size: small;
}

.PagerStyle
{
    font-size: small;
}

div.ui-datepicker
{
    font-size: small;
}
